<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="off">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{ISO8601} [%p] %m%n\tat %t%x %c.%M(%F:%L)\n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>